<a href="https://colab.research.google.com/github/GOUTAM-RAM21/data-science-ml/blob/main/Students_Social_Media_Addiction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('Students Social Media Addiction.csv')

In [4]:
df.sample(5)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
72,73,19,Male,Undergraduate,Ukraine,4.9,TikTok,Yes,5.7,6,Complicated,3,7
162,163,20,Female,Undergraduate,Nepal,5.5,TikTok,Yes,5.9,6,Single,4,8
100,101,19,Male,High School,Lebanon,5.8,YouTube,Yes,5.2,5,Complicated,4,9
105,106,19,Female,Undergraduate,Pakistan,4.8,TikTok,Yes,5.7,6,In Relationship,3,7
133,134,21,Female,Graduate,Maldives,4.2,Instagram,No,7.8,8,In Relationship,2,5

In [6]:
df.shape

(705, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [8]:
df.isnull().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

In [9]:
df.loc[df.sample(frac=0.05, random_state=42).index, 'Conflicts_Over_Social_Media'] = np.nan

# Ab check karte hain missing values
print(df.isnull().sum())

Student_ID                       0
Age                              0
Gender                           0
Academic_Level                   0
Country                          0
Avg_Daily_Usage_Hours            0
Most_Used_Platform               0
Affects_Academic_Performance     0
Sleep_Hours_Per_Night            0
Mental_Health_Score              0
Relationship_Status              0
Conflicts_Over_Social_Media     35
Addicted_Score                   0
dtype: int64

In [14]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

In [15]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Affects_Academic_Performance'] = le.fit_transform(df['Affects_Academic_Performance'])
df['Gender'] = le.fit_transform(df['Gender'])

In [16]:
print(df['Country'].unique())
print(df['Relationship_Status'].unique())
print(df['Most_Used_Platform'].unique())
print(df['Academic_Level'].unique())

['Bangladesh' 'India' 'USA' 'UK' 'Canada' 'Australia' 'Germany' 'Brazil'
 'Japan' 'South Korea' 'France' 'Spain' 'Italy' 'Mexico' 'Russia' 'China'
 'Sweden' 'Norway' 'Denmark' 'Netherlands' 'Belgium' 'Switzerland'
 'Austria' 'Portugal' 'Greece' 'Ireland' 'New Zealand' 'Singapore'
 'Malaysia' 'Thailand' 'Vietnam' 'Philippines' 'Indonesia' 'Taiwan'
 'Hong Kong' 'Turkey' 'Israel' 'UAE' 'Egypt' 'Morocco' 'South Africa'
 'Nigeria' 'Kenya' 'Ghana' 'Argentina' 'Chile' 'Colombia' 'Peru'
 'Venezuela' 'Ecuador' 'Uruguay' 'Paraguay' 'Bolivia' 'Costa Rica'
 'Panama' 'Jamaica' 'Trinidad' 'Bahamas' 'Iceland' 'Finland' 'Poland'
 'Romania' 'Hungary' 'Czech Republic' 'Slovakia' 'Croatia' 'Serbia'
 'Slovenia' 'Bulgaria' 'Estonia' 'Latvia' 'Lithuania' 'Ukraine' 'Moldova'
 'Belarus' 'Kazakhstan' 'Uzbekistan' 'Kyrgyzstan' 'Tajikistan' 'Armenia'
 'Georgia' 'Azerbaijan' 'Cyprus' 'Malta' 'Luxembourg' 'Monaco' 'Andorra'
 'San Marino' 'Vatican City' 'Liechtenstein' 'Montenegro' 'Albania'
 'North Macedonia' 'Kosovo' 'Bosnia' 'Qatar' 'Kuwait' 'Bahrain' 'Oman'
 'Jordan' 'Lebanon' 'Iraq' 'Yemen' 'Syria' 'Afghanistan' 'Pakistan'
 'Nepal' 'Bhutan' 'Sri Lanka' 'Maldives']
['In Relationship' 'Single' 'Complicated']
['Instagram' 'Twitter' 'TikTok' 'YouTube' 'Facebook' 'LinkedIn' 'Snapchat'
 'LINE' 'KakaoTalk' 'VKontakte' 'WhatsApp' 'WeChat']
['Undergraduate' 'Graduate' 'High School']

In [13]:
ordinal_categories = [
    ['High School', 'Undergraduate','Graduate'],
    ['Single', 'In Relationship', 'Complicated'],

]


encoder = OrdinalEncoder(categories=ordinal_categories)
encoded = encoder.fit_transform(df[['Academic_Level','Relationship_Status']])

In [22]:
transformer = ColumnTransformer(transformers=[

    ('Social_media', SimpleImputer(strategy='mean'), ['Conflicts_Over_Social_Media']),


    ('encode_cp', OrdinalEncoder(categories=ordinal_categories, handle_unknown='use_encoded_value', unknown_value=-1), ['Academic_Level', 'Relationship_Status']),


   ('ohe_country', OneHotEncoder(drop='first', handle_unknown='ignore'), ['Country']),
    ('ohe_platform', OneHotEncoder(drop='first', handle_unknown='ignore'), ['Most_Used_Platform'])
], remainder='passthrough')

In [23]:
from sklearn.model_selection import train_test_split

X = df.drop('Addicted_Score', axis=1)
y = df['Addicted_Score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train_transformed = transformer.fit_transform(X_train)
X_test_transformed = transformer.transform(X_test)

print("Before:", X_train.shape)
print("After:", X_train_transformed.shape)

Before: (564, 12)
After: (564, 107)

/usr/local/lib/python3.12/dist-packages/sklearn/preprocessing/_encoders.py:246: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [25]:
import pandas as pd

X_train_encoded = pd.DataFrame(
    transformer.transform(X_train).toarray(),
    columns=transformer.get_feature_names_out()
)

print(X_train_encoded.head())   # sirf pehle 5 rows

   Social_media__Conflicts_Over_Social_Media  encode_cp__Academic_Level  \
0                                        2.0                        2.0
1                                        4.0                        1.0
2                                        4.0                        1.0
3                                        4.0                        1.0
4                                        2.0                        1.0

   encode_cp__Relationship_Status  ohe_country__Country_Albania  \
0                             1.0                           0.0
1                             1.0                           0.0
2                             0.0                           0.0
3                             1.0                           0.0
4                             0.0                           0.0

   ohe_country__Country_Armenia  ohe_country__Country_Australia  \
0                           0.0                             0.0
1                           0.0                             0.0
2                           0.0                             0.0
3                           0.0                             0.0
4                           0.0                             0.0

   ohe_country__Country_Austria  ohe_country__Country_Bahamas  \
0                           0.0                           0.0
1                           0.0                           0.0
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           0.0

   ohe_country__Country_Bangladesh  ohe_country__Country_Belarus  ...  \
0                              0.0                           0.0  ...
1                              0.0                           0.0  ...
2                              0.0                           0.0  ...
3                              0.0                           0.0  ...
4                              0.0                           0.0  ...

   ohe_platform__Most_Used_Platform_WeChat  \
0                                      0.0
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0

   ohe_platform__Most_Used_Platform_WhatsApp  \
0                                        0.0
1                                        0.0
2                                        0.0
3                                        0.0
4                                        0.0

   ohe_platform__Most_Used_Platform_YouTube  remainder__Student_ID  \
0                                       0.0                   25.0
1                                       0.0                  156.0
2                                       0.0                  211.0
3                                       0.0                  261.0
4                                       0.0                  425.0

   remainder__Age  remainder__Gender  remainder__Avg_Daily_Usage_Hours  \
0            22.0                1.0                               3.2
1            20.0                0.0                               4.2
2            20.0                0.0                               6.3
3            19.0                0.0                               6.6
4            19.0                0.0                               2.9

   remainder__Affects_Academic_Performance  remainder__Sleep_Hours_Per_Night  \
0                                      0.0                               6.9
1                                      1.0                               7.4
2                                      1.0                               4.4
3                                      1.0                               5.6
4                                      0.0                               8.9

   remainder__Mental_Health_Score
0                             7.0
1                             5.0
2                             6.0
3                             4.0
4                             8.0

[5 rows x 107 columns]

In [26]:
X_train

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media
24,25,22,1,Graduate,Greece,3.2,Facebook,0,6.9,7,In Relationship,2.0
155,156,20,0,Undergraduate,Pakistan,4.2,Instagram,1,7.4,5,In Relationship,4.0
210,211,20,0,Undergraduate,Nepal,6.3,TikTok,1,4.4,6,Single,4.0
260,261,19,0,Undergraduate,USA,6.6,TikTok,1,5.6,4,In Relationship,4.0
424,425,19,0,Undergraduate,Switzerland,2.9,Instagram,0,8.9,8,Single,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,72,21,0,Graduate,Lithuania,3.2,Facebook,0,6.8,7,In Relationship,2.0
106,107,21,1,Undergraduate,Nepal,3.8,YouTube,0,6.6,7,Single,2.0
270,271,20,0,Undergraduate,Australia,4.5,Instagram,0,7.3,7,Single,2.0
435,436,22,1,Graduate,Turkey,4.4,TikTok,1,7.8,6,Single,3.0
102,103,20,1,Undergraduate,Yemen,4.7,Facebook,1,5.8,6,In Relationship,3.0